BR2_riscv=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_SYSTEM_DHCP="eth0"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/qemu/post-image.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="$(BR2_DEFCONFIG)"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="ssh://chenlinfei@gerrit.dc.com:29418/linux/linux-6.1"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="k1-dev-stev10"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/spacemit/stev10/linux.config"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_CUSTOM_DTS_PATH="board/spacemit/stev10/stev10.dts board/spacemit/stev10/stev10_1x4.dts board/spacemit/stev10/stev10_2x4.dts"
# BR2_PACKAGE_IFUPDOWN_SCRIPTS is not set
# BR2_PACKAGE_URANDOM_SCRIPTS is not set
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_TARGET_OPENSBI=y
BR2_TARGET_OPENSBI_CUSTOM_GIT=y
BR2_TARGET_OPENSBI_CUSTOM_REPO_URL="ssh://$$USER@gerrit.dc.com:29418/opensbi/opensbi"
BR2_TARGET_OPENSBI_CUSTOM_REPO_VERSION="k1-dev-stev10"
BR2_TARGET_OPENSBI_PLAT="spacemit/k1-pro"
BR2_TARGET_OPENSBI_LINUX_PAYLOAD=y
